#footer{
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.ZYHQ7e{color:#70757a}
.fbar{line-height:33px;text-align:center}
.M6hT6{left:0;right:0;-webkit-text-size-adjust:none}
.fbar a{text-decoration:none;white-space:nowrap}
.fbar{margin-left:-27px;}
.Fx4vi{padding-left:27px;margin:0 !important}
#fsl{white-space:nowrap}
.f6F9Be{background:#f2f2f2;}
.JQyAhb{border-top:1px solid #dadce0;padding-top:10px}
.fbar p,.fbar a{color:#70757a}
.fbar a:hover{color:#3c4043}
.fbar{font-size:13px}
.b0KoTc{color:#70757a;padding-left:27px;margin:0 12px;text-align:left}
.Q8LRLc{font-size:16px;}
.footer_homepage_mobile_settings_row_above_fold{padding-bottom:10px}
.j9xd9b{display:inline-block}
.lA8P5e{color:#3c4043}
.As6eLe{padding-bottom:10px;background:#f2f2f2}
.Lt2Ned{margin-top:-10px}
.M6hT6 #swml {
    border-top: 1px solid #dadce0;
    height: auto;
    line-height: 15px;
    margin: 0;
    min-height: 15px;
    padding: 15px 0;
    visibility: visible;
}

@media only screen and (max-width: 1200px){
    .KxwPGc {
        justify-content: space-evenly;
    }
}